<?xml version="1.0" encoding="UTF-8"?>

<beans                            
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">                     


<bean id = "addr1" class = "com.java.spring.si.list.dependent.Address">
<property name = "street" value = "Kondapur"/>
<property name = "city" value = "Hyderabad"/>
<property name = "state" value = "Telangana"/> 
</bean>

<bean id = "addr2" class = "com.java.spring.si.list.dependent.Address">
<property name = "street" value = "Madhapur"/>
<property name = "city" value = "Hyderabad"/>
<property name = "state" value = "Telangana"/> 
</bean>


<bean id = "employeebean" class = "com.java.spring.si.list.dependent.Employee">

<property name = "id" value = "101"/>
<property name = "name" value = "Akhilesh"/>
<property name = "addresses">

<list>
<ref bean = "addr1"/>
<ref bean = "addr2"/>
</list>

</property>
 
</bean>

</beans>